<p>menu works!</p>


<nav class= "c-menu">
    <a 
    class = "c-menu__link"
    routerLink = ''
    routerLinkActive = "c-menu__link--active" 
    [routerLinkActiveOptions] = "{exact: true}"
    > Home </a>

    <a 
    class = "c-menu__link"
    routerLink = 'characters'
    routerLinkActive = "c-menu__link--active" 
    > Characters </a>

    <a 
    class = "c-menu__link"
    routerLink = 'contact'
    routerLinkActive = "c-menu__link--active" 
    > Contact </a>

    <a 
    class = "c-menu__link"
    routerLink = 'favourites'
    routerLinkActive = "c-menu__link--active" 
    > Favourties </a>

    <a 
    class = "c-menu__link"
    routerLink = 'locations'
    routerLinkActive = "c-menu__link--active" 
    > Locations </a>
</nav>

<!-- <ul>
    <li>
        <a routerLink = ''>Home</a>
    </li>
    <li>
        <a routerLink = 'characters'>Characters</a>
    </li>
  </ul> -->