<h2>Character Presentation</h2>

<!-- 
<div class = "c-gallery">
    <div *ngFor = "let item of characterGallery" class = "c-gallery__item">
        <img src={{item.image}} alt="#">
        <p>{{item.name}}</p>
    </div>
</div> -->

<div class = "c-gallery">
    <div class = "row">
        <!-- no aplicar clases junto con bootstrap LO SIGUIENTE ESTARÍA MAL -->
        <div class = "col-12 col-md-6 col-mg-4"
        *ngFor = "let item of characterGallery"  
        >
            <div class = "c-gallery__item">
                <img src={{item.image}} alt="#">
                <p>{{item.name}}</p>
            </div>
            <button class = "b-btn" (click) = "addToFavourites(item)" >Add to favourites</button>

        </div>
    </div>
</div>

